@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.RI{
    background-image: url(../image/florist2.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.part1{
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.295);
    position: absolute;
}
.RI .part1 p {
    text-align: center;
    color: white;
    font-family: 'Satisfy';
    font-size: 100px;
    padding: 300px 0;
}
.part2{
    text-align: center;
    background-color: rgba(197, 143, 248, 0.341);
    width: 100%;
    height: 100px;
    padding: 10px 0;
    padding-bottom: 130px;
}
.part2 p{
    font-size: 20px;
    color: white;
}
.KL{
    padding-top: 100px;
    padding-bottom: 150px;
}
.KL.first, .KL .second {
    display: inline-block;
}
.KL .first {
    position: relative;
    left : 20%;
}
.KL .second {
    position: absolute;
    top: 125%;
    right: 58%;
}
h4{
    text-align: center;
    color: rgba(0, 0, 0, 0.703);
    font-family: 'Charm';
}
p{
    padding-top: 30px;
    text-align: center; 
    color: rgba(0, 0, 0, 0.511);
}


